.form-table {
    margin-top: 2rem;
}

.HomeTeacher {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomeTeacher-1 {
    margin: 5rem;
    width: 500px;
    color: white;
}
.color{
    background-color:  #7e0202 ;
    border-color:  #7e0202 ;
    
 }
 