.from{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  whitesmoke;
    margin-top: 10px;
    
}
.title{
  display: flex;
  align-items: center;
  width: auto;
  height: 60px;
  background-color: #7e0202 ;
  justify-content: center;
  color: white;
  font-size: 20px;
  border-radius: 20px 20px 0px 0px;;
}
.frame{
    width: auto;
    height: auto;
    background-color:  white;
    display: flex;
    flex-direction: column;
    border:  2px solid  #7e0202;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 25px;
}
.frame-1{
  width: auto;
  max-height: 750px;
  height: auto;
  background-color:  white;
  display: flex;
  flex-direction: column;
  border:  2px solid  #7e0202;
  
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
}

.frame-2{
  width: auto;
  max-height:800px;
  height: auto;
  background-color:  white;
  display: flex;
  flex-direction: column;
  border:  2px solid  #7e0202;

  
  
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
}

.frame-3{
  width: auto;
  max-height:700px;
  height: auto;
  background-color:  white;
  display: flex;
  flex-direction: column;
  border:  2px solid  #7e0202;

  
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
}
.formcheck{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.formcheck-1{
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left: 1rem;
  margin: 2rem;
}

.input{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.input-1{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  

}
.changeradio{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
  
  
}
.changeradio-1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
  padding-right: 25rem;

}

input[type=text ] {
    width: 250px;
  }
  input[type=text1 ] {
    width: 1170px;
  }
  input[type=text2 ] {
    width: 350px;
  }
  input[type=text3 ] {
    width:250px;
  }
  input[type=text4 ] {
    width:655px;
  }
  .button{
    display: flex;
    margin: 1px;
    justify-content: center;
  }
  .button-1{
    width: 150px;
    height: 60px;
  }
  .button-2{
    width: 150px;
    height: 60px;
    margin-top: 2rem;
  }
